Repository geosolutions-it/MapStore2, pull requests merged in 2018-03, with the labels that each got.

#2666 Fixes #2665 Add an action to force resize of Map component
  web/client/actions/__tests__/map-test.js
  web/client/actions/map.js
  web/client/reducers/__tests__/map-test.js
  web/client/reducers/map.js
Labels: In Test, review

#2683 Austro#31#
  web/client/components/shapefile/ShapefileUploadAndStyle.jsx
  web/client/reducers/shapefile.js
  web/client/test-resources/TestShape.zip
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
  web/client/translations/data.zh-ZH
  web/client/utils/CoordinatesUtils.js
  web/client/utils/FileUtils.js
  web/client/utils/__tests__/FileUtils-test.js
Labels: In Test, review

#2688 Added current annotation export
  web/client/actions/annotations.js
  web/client/components/mapcontrols/annotations/AnnotationsEditor.jsx
  web/client/epics/annotations.js
  web/client/plugins/Annotations.jsx
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
Labels: In Test, review

#2671 Fixes #2569: upgrade of leaflet version to 1.3.1 (and related depende…
  package.json
  project/custom/templates/index.html
  project/standard/templates/index.html
  web/client/api.html
  web/client/apiTemplate.html
  web/client/components/map/leaflet/DrawSupport.jsx
  web/client/components/map/leaflet/Locate.jsx
  web/client/components/map/leaflet/Map.jsx
  web/client/components/map/leaflet/MeasurementSupport.jsx
  web/client/components/map/leaflet/ScaleBar.jsx
  web/client/components/map/leaflet/__tests__/DrawSupport-test.jsx
  web/client/components/map/leaflet/__tests__/Layer-test.jsx
  web/client/components/map/leaflet/__tests__/Map-test.jsx
  web/client/components/map/leaflet/plugins/BingLayer.js
  web/client/components/map/leaflet/plugins/GoogleLayer.js
  web/client/components/share/api-template.raw
  web/client/embedded.html
  web/client/embeddedTemplate.html
  web/client/examples/featuregrid/index.html
  web/client/index.html
  web/client/indexTemplate.html
  web/client/product/assets/css/viewer.css
  web/client/simple.html
  web/client/themes/default/less/leaflet.less
  web/client/utils/leaflet/WMTS.js
Labels: In Test, review

#2697 Fixing leaflet randomly failing test
  web/client/components/map/leaflet/__tests__/Map-test.jsx
Labels: In Test, pending review, review

#2698 Fixes #2637: OpenLayers vector printing issues
  web/client/components/print/MapPreview.jsx
  web/client/utils/PrintUtils.js
  web/client/utils/__tests__/PrintUtils-test.js
Labels: In Test, pending review, review

#2704 Fixes #2703: openlayers WMTS layers ignore initial visibility
  web/client/components/map/openlayers/__tests__/Layer-test.jsx
  web/client/components/map/openlayers/plugins/WMTSLayer.js
Labels: In Test, pending review, review

#2701 2626 updates measure tool
  docs/developer-guide/local-config.md
  package.json
  web/client/actions/__tests__/measurement-test.js
  web/client/actions/measurement.js
  web/client/components/map/leaflet/MeasurementSupport.jsx
  web/client/components/map/openlayers/MeasurementSupport.jsx
  web/client/components/mapcontrols/measure/MeasureComponent.jsx
  web/client/components/mapcontrols/measure/__tests__/MeasureComponent-test.jsx
  web/client/plugins/Measure.jsx
  web/client/plugins/map/index.js
  web/client/reducers/__tests__/measurement-test.js
  web/client/reducers/measurement.js
  web/client/themes/default/less/ol.less
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
  web/client/utils/CoordinatesUtils.js
  web/client/utils/MeasureUtils.js
  web/client/utils/__tests__/CoordinatesUtils-test.js
  web/client/utils/__tests__/MeasureUtils-test.js
Labels: C125, In Test, review

#2710 Fix #2709 #2711 minor fixes to annotations and measure tool
  web/client/components/mapcontrols/annotations/AnnotationsEditor.jsx
  web/client/components/style/TextStyler.jsx
  web/client/reducers/measurement.js
Labels: C125, In Test, pending review, review

#2714 Fix #2685. Removed for of statements
  web/client/api/GeoStoreDAO.js
  web/client/api/__tests__/GeoStoreDAO-test.jsx
  web/client/components/map/openlayers/plugins/TileProviderLayer.js
Labels: In Test, review

#2581 DrawSupport:Replace does not add drawinteraction by default
  web/client/components/map/openlayers/DrawSupport.jsx
  web/client/components/map/openlayers/__tests__/DrawSupport-test.jsx
Labels: review

#2715 Updated moment dependency to fix vulnerability of current version
  package.json
Labels: In Test, pending review, review

#2719 Tentative fix of randomly failing tests
  web/client/components/map/leaflet/Map.jsx
  web/client/components/map/leaflet/__tests__/Map-test.jsx
Labels: In Test, pending review, review

#2716 Fix #2531 issues in the comment section
  web/client/components/mapcontrols/annotations/AnnotationsEditor.jsx
  web/client/components/mapcontrols/annotations/DropdownFeatureType.jsx
  web/client/themes/default/icons.less
  web/client/themes/default/icons/icons.eot
  web/client/themes/default/icons/icons.svg
  web/client/themes/default/icons/icons.ttf
  web/client/themes/default/icons/icons.woff
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
Labels: C125, In Test, pending review, review

#2720 Fix #2668 Increase precision of Query Panel Circle/BBox Details
  web/client/components/data/query/GeometryDetails.jsx
  web/client/components/data/query/QueryBuilder.jsx
  web/client/components/data/query/SpatialFilter.jsx
  web/client/components/misc/enhancers/__tests__/debounce-test.jsx
  web/client/components/misc/enhancers/debounce.js
  web/client/plugins/QueryPanel.jsx
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
  web/client/translations/data.nl-NL
  web/client/translations/data.zh-ZH
Labels: In Test, review

#2693 Allow animation disable to support vertical toolbars
  web/client/components/misc/toolbar/Toolbar.jsx
  web/client/components/misc/toolbar/__tests__/Toolbar-test.jsx
Labels: In Test, review

#2712 fix #2711 meaure tool reset correctly
  web/client/reducers/measurement.js
Labels: In Test, pending review, review

#2641 Fixes #2605 Improve iframe on react quill textarea
  web/client/components/TOC/fragments/settings/FeatureInfoEditor.jsx
  web/client/components/misc/quillmodules/ResizeModule.js
  web/client/components/misc/quillmodules/__tests__/ResizeModule-test.js
  web/client/components/misc/quillmodules/assets/css/resizemodule.css
  web/client/plugins/TOCItemsSettings.jsx
  web/client/themes/default/less/panels.less
Labels: In Test, review

#2723 Fix #2722 add a regex for travis build
  .travis.yml
Labels: In Test, review

#2727 2018.01.01
  web/client/translations/data.de-DE
  web/client/translations/fragments/cookie/cookieDetails-de-DE.html
Labels: In Test, pending review, review

#2728 Fix #2668 Increase precision of Query Panel Circle/BBox Details
  web/client/components/data/query/GeometryDetails.jsx
  web/client/components/data/query/QueryBuilder.jsx
  web/client/components/data/query/SpatialFilter.jsx
  web/client/components/misc/enhancers/__tests__/debounce-test.jsx
  web/client/components/misc/enhancers/debounce.js
  web/client/plugins/QueryPanel.jsx
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
  web/client/translations/data.nl-NL
Labels: In Test, pending review, review

#2729 Fix #2642. Removed entry from counter widget menu
  web/client/components/widgets/widget/CounterWidget.jsx
  web/client/components/widgets/widget/__tests__/CounterWidget-test.jsx
Labels: In Test, review

#2724 Added circles on annotation
  web/client/actions/annotations.js
  web/client/actions/draw.js
  web/client/components/map/leaflet/DrawSupport.jsx
  web/client/components/map/leaflet/__tests__/DrawSupport-test.jsx
  web/client/components/map/openlayers/DrawSupport.jsx
  web/client/components/map/openlayers/Feature.jsx
  web/client/components/map/openlayers/VectorStyle.js
  web/client/components/map/openlayers/__tests__/DrawSupport-test.jsx
  web/client/components/mapcontrols/annotations/AnnotationsEditor.jsx
  web/client/components/mapcontrols/annotations/DropdownFeatureType.jsx
  web/client/components/mapcontrols/annotations/__tests__/Annotations-test.jsx
  web/client/components/mapcontrols/annotations/__tests__/AnnotationsEditor-test.js
  web/client/components/mapcontrols/annotations/__tests__/SelectAnnotationsFile-test.jsx
  web/client/components/style/CircleStyler.jsx
  web/client/components/style/thumbGeoms/CircleThumb.jsx
  web/client/components/style/thumbGeoms/MultiGeomThumb.jsx
  web/client/components/style/thumbGeoms/__tests__/MultiGeomThumb-test.js
  web/client/epics/annotations.js
  web/client/reducers/annotations.js
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
  web/client/utils/AnnotationsUtils.js
  web/client/utils/MapUtils.js
  web/client/utils/__tests__/AnnotationsUtils-test.js
  web/client/utils/__tests__/MapUtils-test.js
Labels: C125, In Test, review

#2731 Porting of IE fixes for C040
  web/client/api/GeoStoreDAO.js
  web/client/api/__tests__/GeoStoreDAO-test.jsx
  web/client/components/map/openlayers/plugins/TileProviderLayer.js
Labels: In Test, pending review, review

#2732 Merging master to c125_annotations
  .travis.yml
  package.json
  project/custom/templates/web/src/main/resources/sample_categories.xml
  project/standard/templates/web/src/main/resources/sample_categories.xml
  web/client/api/GeoStoreDAO.js
  web/client/api/__tests__/GeoStoreDAO-test.jsx
  web/client/components/TOC/fragments/settings/FeatureInfoEditor.jsx
  web/client/components/data/query/GeometryDetails.jsx
  web/client/components/data/query/QueryBuilder.jsx
  web/client/components/data/query/SpatialFilter.jsx
  web/client/components/map/leaflet/DrawSupport.jsx
  web/client/components/map/leaflet/Map.jsx
  web/client/components/map/leaflet/__tests__/Map-test.jsx
  web/client/components/map/openlayers/DrawSupport.jsx
  web/client/components/map/openlayers/__tests__/DrawSupport-test.jsx
  web/client/components/map/openlayers/plugins/TileProviderLayer.js
  web/client/components/misc/cardgrids/SideCard.jsx
  web/client/components/misc/enhancers/__tests__/debounce-test.jsx
  web/client/components/misc/enhancers/debounce.js
  web/client/components/misc/quillmodules/ResizeModule.js
  web/client/components/misc/quillmodules/__tests__/ResizeModule-test.js
  web/client/components/misc/quillmodules/assets/css/resizemodule.css
  web/client/components/misc/toolbar/Toolbar.jsx
  web/client/components/misc/toolbar/__tests__/Toolbar-test.jsx
  web/client/components/widgets/widget/CounterWidget.jsx
  web/client/components/widgets/widget/__tests__/CounterWidget-test.jsx
  web/client/plugins/QueryPanel.jsx
  web/client/plugins/TOCItemsSettings.jsx
  web/client/themes/default/icons.less
  web/client/themes/default/icons/icons.svg
  web/client/themes/default/less/panels.less
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
  web/client/translations/data.nl-NL
  web/client/translations/data.zh-ZH
  web/src/main/resources/sample_categories.xml
Labels: In Test, pending review, review

#2740 fix#2602 loader spinner on import local file
  web/client/components/shapefile/SelectShape.jsx
  web/client/components/shapefile/__tests__/SelectShape-test.jsx
Labels: In Test, pending review, review

#2742 Fixes #2741: set openlayers single tile wms layers default ratio to 1
  web/client/components/map/openlayers/__tests__/Layer-test.jsx
  web/client/components/map/openlayers/plugins/WMSLayer.js
Labels: In Test, pending review, review

#2730 Fixed #2626 fixed leaflet measure tool
  web/client/components/map/leaflet/MeasurementSupport.jsx
  web/client/components/map/leaflet/__tests__/MeasurementSupport-test.jsx
  web/client/components/map/openlayers/MeasurementSupport.jsx
  web/client/components/mapcontrols/measure/MeasureComponent.jsx
  web/client/plugins/map/index.js
  web/client/utils/MeasureUtils.js
  web/client/utils/__tests__/MeasureUtils-test.js
Labels: C125, In Test, review

#2744 Fix circle bugs and added other improvements
  web/client/components/map/openlayers/DrawSupport.jsx
  web/client/components/mapcontrols/annotations/AnnotationsEditor.jsx
  web/client/reducers/__tests__/annotations-test.js
  web/client/reducers/annotations.js
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
Labels: In Test, review

#2747 Fix #2746 leaflet drawing of linestring
  web/client/components/map/leaflet/DrawSupport.jsx
  web/client/components/map/leaflet/MeasurementSupport.jsx
Labels: In Test, review

#2755 Add Croatian language translation
  web/client/components/I18N/__tests__/LangSelector-test.jsx
  web/client/components/I18N/images/flags/hr-HR.png
  web/client/components/TOC/fragments/settings/__tests__/General-test.jsx
  web/client/epics/__tests__/localconfig-test.js
  web/client/test-resources/data.hr-HR
  web/client/translations/data.hr-HR
  web/client/translations/fragments/cookie/cookieDetails-hr-HR.html
  web/client/utils/LocaleUtils.js
Labels: backlog, review

#2753 Fix translate interactions on openlayers and other issues on 2709
  web/client/components/map/openlayers/DrawSupport.jsx
  web/client/components/map/openlayers/__tests__/DrawSupport-test.jsx
  web/client/components/mapcontrols/annotations/AnnotationsEditor.jsx
  web/client/reducers/annotations.js
  web/client/themes/default/less/annotations.less
Labels: In Test, OL3, Project: C125, review

#2751 C125 annotations
  web/client/components/map/openlayers/VectorStyle.js
  web/client/components/style/ColorPicker.jsx
  web/client/utils/ColorUtils.js
  web/client/utils/__tests__/ColorUtils-test.js
Labels: In Test, review

#2752 Fixes #2748: leaflet draw issues
  web/client/components/map/leaflet/DrawSupport.jsx
  web/client/components/map/leaflet/MeasurementSupport.jsx
  web/client/components/map/leaflet/__tests__/MeasurementSupport-test.jsx
Labels: In Test, review

#2734 Fix #2725 Tooltips doesn't show up when fullscreen is enabled
  web/client/components/TOC/Toolbar.jsx
  web/client/components/TOC/fragments/StatusIcon.jsx
  web/client/components/data/featuregrid/filterRenderers/AttributeFilter.jsx
  web/client/components/data/featuregrid/toolbars/TButton.jsx
  web/client/components/misc/enhancers/tooltip.jsx
  web/client/components/widgets/widget/InfoPopover.jsx
  web/client/plugins/featuregrid/gridTools.jsx
Labels: In Test, pending review, review

#2721 Fix #2661 First implementation of map widget
  package.json
  utility/translations/findMissingTranslations.js
  web/client/components/map/BaseMap.jsx
  web/client/components/map/__tests__/BaseMap-test-chrome.jsx
  web/client/components/map/__tests__/BaseMap-test.jsx
  web/client/components/map/enhancers/__tests__/autoResize-test.js
  web/client/components/map/enhancers/autoMapType.js
  web/client/components/map/enhancers/autoResize.js
  web/client/components/map/enhancers/mapType.js
  web/client/components/map/leaflet/plugins/BingLayer.js
  web/client/components/map/plugins/cesium.js
  web/client/components/map/plugins/leaflet.js
  web/client/components/map/plugins/openlayers.js
  web/client/components/maps/MapCatalog.jsx
  web/client/components/maps/MapCatalogForm.jsx
  web/client/components/maps/__tests__/MapCatalog-test.jsx
  web/client/components/maps/enhancers/mapCatalog.js
  web/client/components/misc/enhancers/infiniteScroll/loadMore.js
  web/client/components/misc/enhancers/infiniteScroll/withInfiniteScroll.js
  web/client/components/misc/enhancers/infiniteScroll/withScrollSpy.js
  web/client/components/misc/enhancers/withResizeSpy.js
  web/client/components/widgets/builder/WidgetTypeSelector.jsx
  web/client/components/widgets/builder/wizard/MapWizard.jsx
  web/client/components/widgets/builder/wizard/map/MapSelector.jsx
  web/client/components/widgets/builder/wizard/map/Toolbar.jsx
  web/client/components/widgets/widget/DefaultWidget.jsx
  web/client/components/widgets/widget/MapWidget.jsx
  web/client/components/widgets/widget/__tests__/MapWidget-test.jsx
  web/client/plugins/WidgetsBuilder.jsx
  web/client/plugins/widgetbuilder/MapBuilder.jsx
  web/client/plugins/widgetbuilder/MapSelector.jsx
  web/client/plugins/widgetbuilder/WidgetTypeBuilder.jsx
  web/client/plugins/widgetbuilder/WidgetTypeSelector.jsx
  web/client/test-resources/geostore/extjs/search/category/MAP/1.json
  web/client/test-resources/img/blank.jpg
  web/client/themes/default/less/sidegrid.less
  web/client/themes/default/less/widget.less
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
Labels: In Test, review

#2756 Fixes #2021: Limit list of srs saved in layers from catalog to the ones supported by the current mapstore2 instance
  web/client/utils/CatalogUtils.js
  web/client/utils/CoordinatesUtils.js
  web/client/utils/__tests__/CatalogUtils-test.js
Labels: In Test, pending review, review

#2758 Update README.md
  README.md
Labels: In Test, pending review, review

#2761 Fixes #2760: integrated printing service
  buildConfig.js
  project/standard/templates/web/pom.xml
  web/client/localConfig.json
  web/pom.xml
Labels: In Test, pending review, review

#2763 Removed duplicated and mismatching in version libraries from geostore…
  web/pom.xml
Labels: In Test, pending review, review

#2739 Fixes #2631: usage of mapping libraries
  web/client/api.html
  web/client/apiTemplate.html
  web/client/components/app/StandardApp.jsx
  web/client/components/map/leaflet/SingleClick.js
  web/client/embedded.html
  web/client/embeddedTemplate.html
  web/client/epics/globeswitcher.js
  web/client/examples/3dviewer/localConfig.json
  web/client/examples/api/index.html
  web/client/examples/mouseposition/index.html
  web/client/examples/plugins/app.jsx
  web/client/examples/plugins/index.html
  web/client/examples/print/components/PrintPreview.jsx
  web/client/examples/print/index.html
  web/client/examples/print/localConfig.json
  web/client/examples/scalebar/index.html
  web/client/localConfig.json
  web/client/plugins/Map.jsx
  web/client/product/appConfig.js
  web/client/product/assets/css/maps.css
  web/client/product/plugins/MapType.jsx
  web/client/utils/CoordinatesUtils.js
  web/client/utils/__tests__/CoordinatesUtils-test.js
Labels: In Test, review

#2764 Fixes #2618 Improve Sidecard component styles
  docma-config.json
  web/client/components/misc/cardgrids/SideCard.jsx
  web/client/components/misc/cardgrids/SideGrid.jsx
  web/client/components/misc/cardgrids/__tests__/SideCard-test.jsx
  web/client/components/misc/cardgrids/__tests__/SideGrid-test.jsx
  web/client/themes/default/less/common.less
  web/client/themes/default/less/sidegrid.less
Labels: In Test, pending review, review

#2766 Quick fix to embedded map style
  web/client/themes/default/less/embedded.less
Labels: In Test, pending review, review

#2776 Croatian language translation - update
  web/client/translations/data.hr-HR
Labels: backlog, review

#2779 Fix #2778 Embedded doesn't work
  web/client/components/app/StandardApp.jsx
  web/client/product/embedded.jsx
Labels: In Test, pending review, review

#2782 Additional fix for #2778: fixed leaflet-draw inclusion in share api template
  web/client/components/share/api-template.raw
Labels: In Test, pending review, review

#2780 Connect to #2662 Geodashboard single connection support
  web/client/actions/widgets.js
  web/client/components/widgets/builder/wizard/ChartWizard.jsx
  web/client/components/widgets/builder/wizard/CounterWizard.jsx
  web/client/components/widgets/builder/wizard/chart/Toolbar.jsx
  web/client/components/widgets/builder/wizard/common/WPSWidgetOptions.jsx
  web/client/components/widgets/builder/wizard/common/__tests__/WPSWidgetOptions-test.jsx
  web/client/components/widgets/builder/wizard/counter/Toolbar.jsx
  web/client/components/widgets/builder/wizard/map/Toolbar.jsx
  web/client/components/widgets/builder/wizard/table/TableOptions.jsx
  web/client/components/widgets/builder/wizard/table/Toolbar.jsx
  web/client/components/widgets/builder/wizard/table/__tests__/TableOptions-test.jsx
  web/client/components/widgets/enhancers/__tests__/dependenciesToWidget-test.jsx
  web/client/components/widgets/enhancers/dependenciesToFilter.js
  web/client/components/widgets/enhancers/dependenciesToWidget.js
  web/client/components/widgets/view/WidgetsView.jsx
  web/client/components/widgets/widget/DefaultWidget.jsx
  web/client/epics/__tests__/dashboard-test.js
  web/client/epics/dashboard.js
  web/client/epics/widgets.js
  web/client/plugins/Dashboard.jsx
  web/client/plugins/DashboardEditor.jsx
  web/client/plugins/WidgetsBuilder.jsx
  web/client/plugins/widgetbuilder/ChartBuilder.jsx
  web/client/plugins/widgetbuilder/CounterBuilder.jsx
  web/client/plugins/widgetbuilder/MapBuilder.jsx
  web/client/plugins/widgetbuilder/TableBuilder.jsx
  web/client/plugins/widgetbuilder/commons.js
  web/client/plugins/widgetbuilder/enhancers/chartLayerSelector.js
  web/client/plugins/widgetbuilder/enhancers/connection/viewportConnect.js
  web/client/plugins/widgetbuilder/enhancers/connection/withViewportConnectButtons.js
  web/client/reducers/__tests__/widgets-test.js
  web/client/reducers/widgets.js
  web/client/selectors/__tests__/widgets-test.js
  web/client/selectors/widgets.js
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
Labels: In Test, review

#2783 Connect to #2662 Geodashboard map to map sync
  web/client/components/widgets/builder/wizard/map/Toolbar.jsx
  web/client/components/widgets/enhancers/__tests__/dependenciesToMapProp-test.jsx
  web/client/components/widgets/enhancers/dependenciesToMapProp.js
  web/client/components/widgets/widget/DefaultWidget.jsx
  web/client/components/widgets/widget/MapWidget.jsx
  web/client/epics/__tests__/widgets-test.js
  web/client/epics/widgets.js
  web/client/plugins/widgetbuilder/ChartBuilder.jsx
  web/client/plugins/widgetbuilder/CounterBuilder.jsx
  web/client/plugins/widgetbuilder/MapBuilder.jsx
  web/client/plugins/widgetbuilder/TableBuilder.jsx
  web/client/plugins/widgetbuilder/enhancers/connection/mapPositionConnect.js
  web/client/plugins/widgetbuilder/enhancers/connection/withConnectButton.js
  web/client/plugins/widgetbuilder/enhancers/mapToolbar.js
  web/client/reducers/__tests__/widgets-test.js
  web/client/reducers/widgets.js
Labels: In Test, pending review, review

#2785 Fix #2775 Styles misalignment in BorderLayout component
  web/client/themes/default/less/common.less
  web/client/themes/default/less/widget.less
Labels: In Test, review
