Repository geosolutions-it/MapStore2, pull requests merged in 2019-11, with the labels that each got.

#4404 Fix 4363 Navigation bar updates
  package.json
  web/client/actions/geostory.js
  web/client/components/geostory/builder/SectionsPreview.jsx
  web/client/components/geostory/contents/SectionContent.jsx
  web/client/components/geostory/layouts/Cascade.jsx
  web/client/components/geostory/layouts/sections/Immersive.jsx
  web/client/components/geostory/layouts/sections/Section.jsx
  web/client/components/geostory/layouts/sections/Title.jsx
  web/client/components/geostory/layouts/sections/__tests__/Section-test.jsx
  web/client/components/geostory/layouts/sections/__tests__/Title-test.jsx
  web/client/components/geostory/layouts/sections/enhancers/currentPageSectionManager.jsx
  web/client/components/geostory/layouts/sections/enhancers/immersiveBackgroundManager.jsx
  web/client/components/geostory/layouts/sections/enhancers/updateCurrentPageEnhancer.jsx
  web/client/components/geostory/navigation/Navigation.jsx
  web/client/components/geostory/navigation/ScrollMenu.jsx
  web/client/components/geostory/navigation/__tests__/Navigation-test.jsx
  web/client/components/geostory/navigation/__tests__/ScrollMenu-test.jsx
  web/client/configs/observatories.json
  web/client/plugins/GeoStoryNavigation.jsx
  web/client/reducers/__tests__/geostory-test.js
  web/client/reducers/geostory.js
  web/client/selectors/__tests__/geostory-test.js
  web/client/selectors/geostory.js
  web/client/themes/default/less/navigation.less
  web/client/themes/default/ms2-theme.less
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
Labels: GeoStory

#4418 Fix #4397 Layers/backgrounds default format is not selectable
  web/client/components/catalog/RecordItem.jsx
  web/client/components/catalog/__tests__/RecordItem-test.jsx
  web/client/utils/CatalogUtils.js
Labels: Background selector

#4417 Fix #4411 Doc updating with Background selector functionalities
  docs/user-guide/basemap.md
  docs/user-guide/catalog.md
  docs/user-guide/img/.jpg
  docs/user-guide/img/add-back.jpg
  docs/user-guide/img/add-bck-ocean.jpg
  docs/user-guide/img/add-bck-window.jpg
  docs/user-guide/img/add-ocean.jpg
  docs/user-guide/img/add-service.jpg
  docs/user-guide/img/back-selector.jpg
  docs/user-guide/img/background.jpg
  docs/user-guide/img/basemap.jpg
  docs/user-guide/img/bck-delete.jpg
  docs/user-guide/img/bck-setted.jpg
  docs/user-guide/img/bck-settings.jpg
  docs/user-guide/img/bck-unselectable.jpg
  docs/user-guide/img/cat-adv-settings.jpg
  docs/user-guide/img/edit-back-window.jpg
  docs/user-guide/img/metadata-det.gif
  docs/user-guide/img/metadata-tooltip.jpg
  docs/user-guide/img/metadata.jpg
  docs/user-guide/img/metadata_template.png
  docs/user-guide/img/metadata_template_example.gif
  docs/user-guide/img/metadata_template_panel.png
  docs/user-guide/img/new_service_firenze.png
  docs/user-guide/img/search-ocean.jpg
  docs/user-guide/img/topobasemap.jpg
Labels: Background selector, Documentation, User Guide

#4429 #4403 CRS Selector Dev documentation
  docs/developer-guide/local-config.md
Labels: Dev Guide, Documentation

#4442 Fixes some issues related to media editor and a couple of minor issues
  web/client/components/background/BackgroundDialog.jsx
  web/client/components/mediaEditor/MediaEditor.jsx
  web/client/themes/default/less/geostory.less
  web/client/themes/default/less/media-editor.less
  web/client/themes/default/less/modal.less
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
Labels: GeoStory

#4446 Fix 4445 no more glitch on content toolbars
  web/client/components/geostory/common/ToolbarDropdownButton.jsx
  web/client/components/geostory/contents/ContentToolbar.jsx
  web/client/components/geostory/contents/__tests__/ContentToolbar-test.jsx
  web/client/configs/observatories.json
  web/client/utils/GeoStoryUtils.js
  web/client/utils/__tests__/GeoStoryUtils-test.js
Labels: GeoStory, bug

#4395 issues 4314 and 4315 fixed regression on lines drawing
  web/client/components/map/openlayers/DrawSupport.jsx
  web/client/components/map/openlayers/__tests__/DrawSupport-test.jsx
Labels: OpenLayers, bug

#4422 Builder - Content Editor - Map Editor - Customize map
  web/client/actions/__tests__/geostory-test.js
  web/client/actions/geostory.js
  web/client/components/geostory/common/MapEditor.jsx
  web/client/components/geostory/common/__tests__/MapEditor-test.jsx
  web/client/components/geostory/common/enhancers/map.jsx
  web/client/components/geostory/contents/ContentToolbar.jsx
  web/client/components/geostory/layouts/Cascade.jsx
  web/client/components/geostory/layouts/sections/Immersive.jsx
  web/client/components/geostory/layouts/sections/Section.jsx
  web/client/components/geostory/layouts/sections/Title.jsx
  web/client/components/geostory/layouts/sections/enhancers/withFocusMask.jsx
  web/client/components/geostory/media/Map.jsx
  web/client/components/misc/FocusMask.jsx
  web/client/components/misc/__tests__/FocusMask-test.jsx
  web/client/epics/__tests__/geostory-test.js
  web/client/epics/geostory.js
  web/client/plugins/GeoStory.jsx
  web/client/plugins/GeoStoryEditor.jsx
  web/client/reducers/__tests__/geostory-test.js
  web/client/reducers/geostory.js
  web/client/selectors/geostory.js
  web/client/themes/default/less/geostory.less
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
  web/client/utils/GeoStoryUtils.js
Labels: GeoStory

#4478 Fix 4476 add css style to userguide images
  docs/theme/css/extra.css
Labels: Documentation, User Guide, enhancement

#4485 fix 4438 geostory user guide
  docs/user-guide/exploring-stories.md
  docs/user-guide/img/button/++++.jpg
  docs/user-guide/img/button/add-media-content.jpg
  docs/user-guide/img/button/add-new-paragraph-section.jpg
  docs/user-guide/img/button/add-section.jpg
  docs/user-guide/img/button/add-text-content.jpg
  docs/user-guide/img/button/align-content.jpg
  docs/user-guide/img/button/align2.jpg
  docs/user-guide/img/button/align3.jpg
  docs/user-guide/img/button/apply-button.jpg
  docs/user-guide/img/button/change-field-theme.jpg
  docs/user-guide/img/button/change-media.jpg
  docs/user-guide/img/button/change-media2.jpg
  docs/user-guide/img/button/change-size.jpg
  docs/user-guide/img/button/change-size2.jpg
  docs/user-guide/img/button/change-size3.jpg
  docs/user-guide/img/button/change-theme.jpg
  docs/user-guide/img/button/fit-adapt-content.jpg
  docs/user-guide/img/button/fit-img-container.jpg
  docs/user-guide/img/button/images.jpg
  docs/user-guide/img/button/new-story.jpg
  docs/user-guide/img/button/remove.jpg
  docs/user-guide/img/button/remove2.jpg
  docs/user-guide/img/media-editor-window/img-preview.jpg
  docs/user-guide/img/media-editor-window/img-settings.jpg
  docs/user-guide/img/media-editor-window/media-editor-window.jpg
  docs/user-guide/img/paragraph-section/p-add-content.jpg
  docs/user-guide/img/paragraph-section/p-img-toolbar.jpg
  docs/user-guide/img/paragraph-section/p-text-content.jpg
  docs/user-guide/img/paragraph-section/parag-section.jpg
  docs/user-guide/img/paragraph-section/paragraph-section.jpg
  docs/user-guide/img/text-editor-toolbar/alignment.jpg
  docs/user-guide/img/text-editor-toolbar/block-type.jpg
  docs/user-guide/img/text-editor-toolbar/color-picker.jpg
  docs/user-guide/img/text-editor-toolbar/font.jpg
  docs/user-guide/img/text-editor-toolbar/link.jpg
  docs/user-guide/img/text-editor-toolbar/remove.jpg
  docs/user-guide/img/text-editor-toolbar/typo-emphasis.jpg
  docs/user-guide/img/title-section/img-applied.jpg
  docs/user-guide/img/title-section/img-bck-toolbar.jpg
  docs/user-guide/immersive-section.md
  docs/user-guide/media-editor-window.md
  docs/user-guide/media-section.md
  docs/user-guide/paragraph-section.md
  docs/user-guide/text-editor-toolbar.md
  docs/user-guide/title-section.md
  mkdocs.yml
Labels: Documentation, GeoStory, Task, User Guide

#4483 Fix 4476 css button group style changes
  docs/theme/css/extra.css
Labels: Documentation, User Guide, bug

#4477 Fix 4407 add story settings and story edit button for anonymous users
  package.json
  web/client/actions/__tests__/geostory-test.js
  web/client/actions/geostory.js
  web/client/components/geostory/builder/Builder.jsx
  web/client/components/geostory/builder/SectionsPreview.jsx
  web/client/components/geostory/builder/Settings.jsx
  web/client/components/geostory/builder/TitleEditable.jsx
  web/client/components/geostory/layouts/sections/Section.jsx
  web/client/components/geostory/layouts/sections/Title.jsx
  web/client/components/geostory/navigation/MenuItems.jsx
  web/client/components/geostory/navigation/Navigation.jsx
  web/client/components/geostory/navigation/ScrollMenu.jsx
  web/client/components/geostory/navigation/__tests__/Navigation-test.jsx
  web/client/components/geostory/navigation/__tests__/ScrollMenu-test.jsx
  web/client/components/map/openlayers/__tests__/DrawSupport-test.jsx
  web/client/components/maps/forms/Thumbnail.jsx
  web/client/components/misc/switch/SwitchButton.jsx
  web/client/components/misc/toolbar/ToolbarButton.jsx
  web/client/components/resources/forms/Thumbnail.jsx
  web/client/localConfig.json
  web/client/plugins/GeoStoryEditor.jsx
  web/client/plugins/GeoStoryNavigation.jsx
  web/client/reducers/__tests__/geostory-test.js
  web/client/reducers/geostory.js
  web/client/selectors/__tests__/geostory-test.js
  web/client/selectors/geostory.js
  web/client/test-resources/geostory/sampleStory_1.json
  web/client/themes/default/less/geostory.less
  web/client/themes/default/less/navigation.less
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
  web/client/utils/GeoStoryUtils.js
Labels: GeoStory, enhancement

#4490 #4489 Improved re-rendering of content toolbar for geostory
  web/client/components/geostory/contents/ContentToolbar.jsx
  web/client/components/geostory/contents/ToolbarButtons.jsx
  web/client/components/geostory/contents/__tests__/Column-test.jsx
  web/client/components/misc/toolbar/Toolbar.jsx
  web/client/components/misc/toolbar/withConfirm.jsx
Labels: GeoStory

#4497 improve print plugin doc
  web/client/plugins/Print.jsx
Labels: Documentation

#4499 fix jenkins tests that are failing
  web/client/test-resources/geostory/sampleStory_1.json
Labels: Environment, bug

#4506 Fix 4505 assign css in userguide
  docs/user-guide/annotations.md
  docs/user-guide/attributes-table.md
  docs/user-guide/basemap.md
  docs/user-guide/catalog.md
  docs/user-guide/exploring-dashboards.md
  docs/user-guide/exploring-maps.md
  docs/user-guide/filtering-layers.md
  docs/user-guide/footer.md
  docs/user-guide/home-page.md
  docs/user-guide/img/button/annotation-draw.jpg
  docs/user-guide/img/button/annotation-option.jpg
  docs/user-guide/img/managing-users/edit-user.jpg
  docs/user-guide/layer-settings.md
  docs/user-guide/local-files.md
  docs/user-guide/managing-groups.md
  docs/user-guide/managing-user-rights.md
  docs/user-guide/managing-users-and-groups.md
  docs/user-guide/managing-users.md
  docs/user-guide/measure.md
  docs/user-guide/menu-bar.md
  docs/user-guide/print.md
  docs/user-guide/save.md
  docs/user-guide/share.md
  docs/user-guide/side-bar.md
  docs/user-guide/timeline.md
  docs/user-guide/toc.md
  docs/user-guide/widgets.md
Labels: Documentation, User Guide

#4507 Fixed unneeded no-overflow
  web/client/components/geostory/layouts/Cascade.jsx
  web/client/plugins/GeoStory.jsx
Labels: GeoStory

#4512 4438 geostory userguide third step
  docs/user-guide/exploring-stories.md
  docs/user-guide/img/button/align-left.jpg
  docs/user-guide/img/button/change-field-theme-1.jpg
  docs/user-guide/img/button/change-size-sm.jpg
  docs/user-guide/immersive-section.md
  docs/user-guide/media-editor-window.md
  docs/user-guide/media-section.md
  docs/user-guide/paragraph-section.md
  docs/user-guide/text-editor-toolbar.md
  docs/user-guide/title-section.md
Labels: Documentation, GeoStory, Task, User Guide

#4510 Feature 4509 - Contents - Web Page
  web/client/components/geostory/contents/WebPage.jsx
  web/client/components/geostory/contents/__tests__/WebPage-test.jsx
  web/client/themes/default/less/geostory.less
Labels: GeoStory, Project: C039

#4522 Fix 4521 removed fit tool for maps
  web/client/components/geostory/layouts/sections/Immersive.jsx
  web/client/components/geostory/layouts/sections/Title.jsx
  web/client/components/geostory/layouts/sections/__tests__/Immersive-test.jsx
  web/client/components/geostory/layouts/sections/__tests__/Title-test.jsx
  web/client/components/geostory/layouts/sections/__tests__/testUtils.js
Labels: GeoStory

#4525 Fix 4523 fixed not perfectly visible masked content
  web/client/epics/geostory.js
Labels: GeoStory

#4556 Fix 4458 add improvements on resource settings
  docs/user-guide/img/button/about-this-map.JPG
  docs/user-guide/img/button/add_details_button.jpg
  docs/user-guide/img/button/delete_white_button.jpg
  docs/user-guide/img/button/details_button.jpg
  docs/user-guide/img/button/details_preview_button.jpg
  docs/user-guide/img/button/edit-details-button.jpg
  docs/user-guide/img/button/save_large_button.jpg
  docs/user-guide/img/managing-user-rights/about-this-map-in-map.jpg
  docs/user-guide/img/managing-user-rights/card-map-details-button.jpg
  docs/user-guide/img/managing-user-rights/details-sheet.jpg
  docs/user-guide/img/managing-user-rights/details_panel.jpg
  docs/user-guide/img/managing-user-rights/edit-map-properties-map.jpg
  docs/user-guide/img/managing-user-rights/edit-map-properties-panel_details.jpg
  docs/user-guide/img/managing-user-rights/edit-map-properties-panel_thumbnail.jpg
  docs/user-guide/img/managing-user-rights/new_button_details.jpg
  docs/user-guide/resources-properties.md
Labels: Documentation, User Guide

#4561 Fix 4543 adding edit text link
  docs/user-guide/img/button/aligne-button.jpg
  docs/user-guide/img/button/bold-button.jpg
  docs/user-guide/img/button/bullet-button.jpg
  docs/user-guide/img/button/clean-button.jpg
  docs/user-guide/img/button/color-text-button.jpg
  docs/user-guide/img/button/hightlight-button.jpg
  docs/user-guide/img/button/image-button.jpg
  docs/user-guide/img/button/italic-button.jpg
  docs/user-guide/img/button/link-button.jpg
  docs/user-guide/img/button/quote-button.jpg
  docs/user-guide/img/button/underline-button.JPG
  docs/user-guide/img/text-editor-details/add-image-details.gif
  docs/user-guide/img/text-editor-details/alignment-text.jpg
  docs/user-guide/img/text-editor-details/block type-details.jpg
  docs/user-guide/img/text-editor-details/color-picker-text.jpg
  docs/user-guide/img/text-editor-details/link-text-details.jpg
  docs/user-guide/img/text-editor-details/text-editor-details.jpg
  docs/user-guide/resources-properties.md
  docs/user-guide/text-editor-details.md
Labels: Documentation, User Guide

#4479 Fix 4299 custom crs error
  web/client/components/errors/ResourceUnavailable.jsx
  web/client/components/map/BaseMap.jsx
  web/client/components/map/enhancers/__tests__/handlingUnsupportedProjection-test.js
  web/client/components/map/enhancers/getProjectionDefs.js
  web/client/components/map/enhancers/handlingUnsupportedProjection.js
  web/client/components/map/openlayers/Map.jsx
  web/client/components/mediaEditor/map/MapPreview.jsx
  web/client/components/misc/EmptyView.jsx
  web/client/components/widgets/widget/MapView.jsx
  web/client/components/widgets/widget/MapWidget.jsx
  web/client/epics/__tests__/config-test.js
  web/client/epics/config.js
  web/client/plugins/FeedbackMask.jsx
  web/client/reducers/feedbackMask.js
  web/client/test-resources/testConfigEPSG31468.json
  web/client/themes/default/less/media-editor.less
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
  web/client/utils/ConfigUtils.js
  web/client/utils/openlayers/__tests__/projUtils-test.js
  web/client/utils/openlayers/projUtils.js
Labels: GeoStory

#4526 Fix 4424 regression for catalog records using metadata template
  web/client/components/catalog/Catalog.jsx
  web/client/components/catalog/__tests__/Catalog-test.jsx
Labels: bug

#4518 #4501 inline editing advanced
  web/client/components/geostory/builder/Settings.jsx
  web/client/components/geostory/common/MapEditor.jsx
  web/client/components/geostory/common/__tests__/MapEditor-test.jsx
  web/client/components/geostory/common/enhancers/map.jsx
  web/client/components/geostory/common/enhancers/withMapConfiguratorTabs.js
  web/client/components/geostory/common/map/Controls.jsx
  web/client/components/geostory/common/map/MapConfiguratorTabs.jsx
  web/client/components/geostory/common/map/__tests__/Controls-test.jsx
  web/client/components/geostory/media/Map.jsx
  web/client/components/map/openlayers/Map.jsx
  web/client/components/map/openlayers/__tests__/Map-test.jsx
  web/client/components/misc/enhancers/__tests__/localizedProps-test.jsx
  web/client/components/misc/enhancers/localizedProps.js
  web/client/indexTemplate.html
  web/client/themes/default/less/geostory.less
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
  web/client/utils/GeoStoryUtils.js
  web/client/utils/__tests__/GeoStoryUtils-test.js
  web/client/utils/openlayers/DrawUtils.js
Labels: GeoStory

#4527 fix 4328 point draw from feature grid
  web/client/components/map/openlayers/DrawSupport.jsx
  web/client/components/map/openlayers/__tests__/DrawSupport-test.jsx
Labels: bug

#4549 #4457 Application Context - Admin UI
  web/client/components/contextcreator/ContextCreator.jsx
  web/client/epics/contextcreator.js
  web/client/localConfig.json
  web/client/plugins/ContextCreator.jsx
  web/client/plugins/contextmanager/PaginationToolbar.jsx
  web/client/plugins/contextmanager/__tests__/PaginationToolbar-test.jsx
  web/client/reducers/contextcreator.js
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
Labels: Priority: Blocker, geOrchestra

#4562 Add local map state to media map component
  web/client/components/geostory/common/enhancers/__tests__/map-test.jsx
  web/client/components/geostory/common/enhancers/map.jsx
  web/client/components/geostory/media/Map.jsx
Labels: GeoStory

#4560 Fix 4537 adding unsaved changes modal to map edit properties, user and group dialog
  web/client/components/manager/users/CloseConfirmButton.jsx
  web/client/components/manager/users/GroupDialog.jsx
  web/client/components/manager/users/UserDialog.jsx
  web/client/components/manager/users/__tests__/GroupDialog-test.jsx
  web/client/components/manager/users/__tests__/UserDialog-test.jsx
  web/client/components/maps/modals/MetadataModal.jsx
  web/client/components/maps/modals/__tests__/MetaDataModal-test.jsx
  web/client/components/misc/withConfirm.jsx
Labels: enhancement

#4538 #4378 Groups with same name cause issues
  web/client/components/TOC/fragments/settings/General.jsx
  web/client/plugins/__tests__/AddGroup-test.jsx
  web/client/reducers/__tests__/layers-test.js
  web/client/reducers/layers.js
  web/client/utils/LayersUtils.js
  web/client/utils/MapUtils.js
  web/client/utils/__tests__/MapUtils-test.js
Labels: geOrchestra
