Repository geosolutions-it/MapStore2, pull requests merged in 2019-10, with the labels that each got.

#4287 Fix build by fixing test errors on c169 branch
  package-lock.json
  package.json
  web/client/utils/leaflet/__tests__/DrawSupportUtils-test.js
  web/client/utils/openlayers/DrawSupportUtils.js
  web/client/utils/openlayers/__tests__/DrawSupportUtils-test.js
Labels: bug

#4288 Attempt to fix react grid layout build issues
  .travis.yml
  package-lock.json
Labels: Environment, Priority: Blocker, bug

#4295 Fix out of memory problem when building
  package.json
Labels: Environment

#4302 Fix cover option to Title Section
  web/client/components/geostory/contents/ContentToolbar.jsx
  web/client/components/geostory/layouts/sections/Background.jsx
  web/client/components/geostory/layouts/sections/Title.jsx
  web/client/components/geostory/layouts/sections/__tests__/Title-test.jsx
  web/client/components/geostory/layouts/sections/enhancers/immersiveBackgroundManager.jsx
  web/client/reducers/mediaEditor.js
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
Labels: GeoStory

#4338 Close #4331 - Map is not loaded in a new media section
  web/client/epics/__tests__/geostory-test.js
  web/client/epics/geostory.js
Labels: GeoStory

#4344 Closes #4339 Add toolbar to section media type map
  web/client/components/geostory/contents/Column.jsx
  web/client/components/geostory/contents/ContentToolbar.jsx
  web/client/components/geostory/layouts/sections/Immersive.jsx
  web/client/components/geostory/layouts/sections/Title.jsx
  web/client/components/geostory/layouts/sections/__tests__/Immersive-test.jsx
  web/client/components/geostory/layouts/sections/__tests__/Title-test.jsx
  web/client/components/geostory/media/Map.jsx
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
Labels: GeoStory

#4359 Fix 4358 height tool always visible for title section
  web/client/components/geostory/layouts/sections/Background.jsx
  web/client/components/geostory/layouts/sections/Title.jsx
  web/client/components/geostory/layouts/sections/__tests__/Title-test.jsx
Labels: GeoStory

#4340 fix 4305 builder section
  package.json
  web/client/actions/__tests__/geostory-test.js
  web/client/actions/geostory.js
  web/client/components/TOC/enhancers/dndTree.jsx
  web/client/components/geostory/builder/Builder.jsx
  web/client/components/geostory/builder/SectionsPreview.jsx
  web/client/components/geostory/builder/TitleEditable.jsx
  web/client/components/geostory/builder/__tests__/Builder-test.jsx
  web/client/components/geostory/builder/__tests__/SectionsPreview-test.jsx
  web/client/components/geostory/builder/__tests__/TitleEditable-test.jsx
  web/client/components/geostory/common/AddBar.jsx
  web/client/components/geostory/contents/__tests__/SectionContent-test.jsx
  web/client/components/geostory/layouts/Cascade.jsx
  web/client/components/geostory/layouts/sections/Immersive.jsx
  web/client/components/geostory/media/Image.jsx
  web/client/components/misc/cardgrids/SideCard.jsx
  web/client/components/misc/enhancers/draggableComponent.jsx
  web/client/components/misc/enhancers/draggableContainer.jsx
  web/client/components/widgets/widget/InfoPopover.jsx
  web/client/configs/observatories.json
  web/client/epics/__tests__/geostory-test.js
  web/client/epics/geostory.js
  web/client/plugins/GeoStoryEditor.jsx
  web/client/reducers/__tests__/geostory-test.js
  web/client/reducers/geostory.js
  web/client/selectors/__tests__/geostory-test.js
  web/client/selectors/geostory.js
  web/client/test-resources/geostory/sampleStory_1.json
  web/client/themes/default/less/geostory.less
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
  web/client/utils/GeoStoryUtils.js
Labels: GeoStory, Task

#4372 Use headless browsers when testing
  .travis.yml
  build/testConfig.js
  package.json
Labels: enhancement

#4371 Fixed Hyper link, scroll and focus on Text editor component
  web/client/components/geostory/contents/enhancers/editableText.jsx
  web/client/components/geostory/media/Map.jsx
  web/client/themes/default/less/geostory.less
Labels: GeoStory

#4368 Browse stories in home 4366
  web/client/actions/__tests__/geostories-test.js
  web/client/actions/geostories.js
  web/client/components/maps/enhancers/featuredMaps.js
  web/client/epics/__tests__/contenttabs-test.js
  web/client/epics/__tests__/geostories-test.js
  web/client/epics/contenttabs.js
  web/client/epics/geostories.js
  web/client/localConfig.json
  web/client/plugins/CreateNewMap.jsx
  web/client/plugins/FeaturedMaps.jsx
  web/client/plugins/GeoStories.jsx
  web/client/plugins/geostories/EmptyGeostoriesView.jsx
  web/client/plugins/geostories/GeostoriesGrid.jsx
  web/client/plugins/geostories/PaginationToolbar.jsx
  web/client/product/plugins.js
  web/client/reducers/__tests__/geostories-test.js
  web/client/reducers/geostories.js
  web/client/selectors/geostories.js
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
Labels: GeoStory

#4384 change chrome browser for continuous-run for tests
  build/karma.conf.continuous-test.js
  build/testConfig.js
Labels: Environment

#4373 fix 4365 geostory login and anonymous users
  web/client/components/geostory/navigation/Navigation.jsx
  web/client/epics/__tests__/geostory-test.js
  web/client/epics/geostory.js
  web/client/localConfig.json
  web/client/plugins/GeoStoryNavigation.jsx
  web/client/selectors/__tests__/geostory-test.js
  web/client/selectors/geostory.js
  web/client/selectors/security.js
Labels: GeoStory

#4381 4357 fix documentation links
  docs/developer-guide/img/infrastructure-architecture/Flux-infrastucture.png
  docs/developer-guide/infrastructure-and-general-architecture.md
  docs/developer-guide/integrations/users/ldap.md
  docs/developer-guide/local-config.md
  docs/developer-guide/map-query-parameters.md
  docs/developer-guide/mapstore-migration-guide.md
  docs/user-guide/exploring-maps.md
Labels: Documentation, bug

#4387 Fix #4341 updating backgrounds list in binary's existing maps
  release/data/geostore.h2.db
Labels: Binary Package, enhancement

#4343 Allow to manage map backgrounds (#3175)
  web/client/actions/__tests__/backgroundselector-test.js
  web/client/actions/__tests__/catalog-test.js
  web/client/actions/backgroundselector.js
  web/client/actions/catalog.js
  web/client/api/mapBackground.js
  web/client/components/background/BackgroundDialog.jsx
  web/client/components/background/BackgroundSelector.jsx
  web/client/components/background/PreviewButton.jsx
  web/client/components/background/PreviewIcon.jsx
  web/client/components/background/__tests__/BackgroundDialog-test.jsx
  web/client/components/background/__tests__/PreviewIcon-test.jsx
  web/client/components/background/css/background.css
  web/client/components/background/css/previewbutton.css
  web/client/components/background/css/previewicon.css
  web/client/components/background/img/default.jpg
  web/client/components/catalog/Catalog.jsx
  web/client/components/catalog/CompactCatalog.jsx
  web/client/components/catalog/RecordGrid.jsx
  web/client/components/catalog/RecordItem.jsx
  web/client/components/catalog/__tests__/Catalog-test.jsx
  web/client/components/catalog/__tests__/RecordItem-test.jsx
  web/client/components/geostory/layouts/sections/__tests__/Immersive-test.jsx
  web/client/components/geostory/layouts/sections/__tests__/Title-test.jsx
  web/client/components/map/openlayers/Layer.jsx
  web/client/components/map/openlayers/plugins/GoogleLayer.js
  web/client/components/mapcontrols/annotations/__tests__/AnnotationsEditor-test.js
  web/client/components/maps/forms/Thumbnail.jsx
  web/client/components/maps/forms/css/thumbnail.css
  web/client/epics/__tests__/geostory-test.js
  web/client/epics/backgroundselector.js
  web/client/epics/catalog.js
  web/client/epics/layerfilter.js
  web/client/epics/maps.js
  web/client/localConfig.json
  web/client/plugins/BackgroundSelector.jsx
  web/client/plugins/MetadataExplorer.jsx
  web/client/plugins/Save.jsx
  web/client/plugins/SaveAs.jsx
  web/client/plugins/TOC.jsx
  web/client/plugins/background/DefaultThumbs.js
  web/client/reducers/__tests__/backgroundselector-test.js
  web/client/reducers/backgroundselector.js
  web/client/selectors/__tests__/backgroundselector-test.js
  web/client/selectors/backgroundselector.js
  web/client/selectors/catalog.js
  web/client/selectors/layers.js
  web/client/themes/default/less/backgroundSelector.less
  web/client/themes/default/less/dropzone.less
  web/client/themes/default/less/modal.less
  web/client/themes/default/less/switchpanel.less
  web/client/themes/default/ms2-theme.less
  web/client/translations/data.de-DE
  web/client/translations/data.en-US
  web/client/translations/data.es-ES
  web/client/translations/data.fr-FR
  web/client/translations/data.it-IT
  web/client/utils/CatalogUtils.js
  web/client/utils/LayersUtils.js
  web/client/utils/MapUtils.js
  web/client/utils/__tests__/MapUtils-test.js
Labels: enhancement

#4389 fixed hyperlink layout in thin title section
  web/client/themes/default/less/geostory.less
Labels: GeoStory

#4400 Fix #4397 Layers/backgrounds default format is not selectable
  web/client/actions/catalog.js
  web/client/components/background/BackgroundDialog.jsx
  web/client/components/catalog/Catalog.jsx
  web/client/components/catalog/RecordGrid.jsx
  web/client/components/catalog/RecordItem.jsx
  web/client/components/catalog/__tests__/Catalog-test.jsx
  web/client/plugins/MetadataExplorer.jsx
  web/client/reducers/__tests__/catalog-test.js
  web/client/reducers/catalog.js
Labels: Background selector

#4410 Doc updating with draganddrop improvements
  docs/user-guide/img/add_layer_to_subgroups.png
  docs/user-guide/img/group-imagery-1.jpg
  docs/user-guide/img/group_imagery.png
  docs/user-guide/img/imagery.jpg
  docs/user-guide/img/layer-in-group.jpg
  docs/user-guide/img/layer-moved.jpg
  docs/user-guide/img/layer-settings.jpg
  docs/user-guide/img/layer-to-subgroup.jpg
  docs/user-guide/img/new-subgroup.jpg
  docs/user-guide/img/new_subgroup.png
  docs/user-guide/img/subgroup-in-group.jpg
  docs/user-guide/img/subgroup_with_layers_in_toc.png
  docs/user-guide/img/user-group.jpg
  docs/user-guide/toc.md
Labels: Dev Guide, Documentation
